@use '../../styles/global';

.login-page {
  width: 100vw;
  height: 100vh;
  background-color: global.$theme-light-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  .logo {
    text-align: center;
    margin-bottom: 30px;

    p:first-child {
      font-size: 28px;
      font-weight: bold;
      color: global.$theme-darker-gray;
      margin-bottom: 8px;
    }

    p:last-child {
      font-size: 14px;
      color: global.$theme-dark-gray;
    }
  }
  .login-form {
    width: 100%;
    max-width: 360px;
    background-color: global.$theme-white;
    padding: 30px 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    .ant-form-item:last-child {
      text-align: center;
      font-size: 14px;
    }
  }
}